/Iris.csv
/Lecture+18_interactive+session.txt
/Lecture+19_constant+var.txt
/Lecture+21_place.txt
/Lecture+32_Viz.txt
/Lecture+33_ML+Reg.txt
/Linear+classifier_mixed+pred.txt
/Resp2.csv
/TF_Data.7z.001
/TF_Data.7z.002
/TF_Data.7z.003
/TF_Data.7z.004
/TF_Data.7z.005
/TF_Data.7z.006
/TF_Data.7z.007
/adult.csv
/autoencoder_binary.txt
/boston1.xls
/bostonTxt.txt
/cnn+image.txt
/cnn1.txt
/cnn_cat+dog.txt
/colab.txt
/creditcard.7z
/dnn_wide-deep.txt
/dnnclass.txt
/dnnclass_titanic.txt
/dnnreg.txt
/hw-data.txt
/kmeans_hw.txt
/knn+class.txt
/lecture+14_interactive.txt
/linear+classifier+python.txt
/linear+regressor_csv+data.txt
/listings.7z
/mlp_mnist.txt
/numpy+create.txt
/numpy+stats.txt
/ols+reg.txt
/random+forest_binary.txt
/read+csv_pd.txt
/read+excel_pd.txt
/sec8_lect61.txt
/sec9_lect68.txt
/sec9_lect69.txt
/softmax.txt
/titanic.csv
/winequality-red.csv
