/CVApiWebAPp.tar.gz
/Customer+Lifetime+Values.pdf
/Customer_Life_Time_Value_Case_Study_21.zip
/DataAnalytics.7z
/DataAnalyticsSln.7z
/Price_Optimization_Airline_Ticket_using_Linear_Programming_.zip
/Reviews.7z
/Reviews.csv
/creditcard.7z
/datasets.7z
/slides.pdf
